@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap');
@media screen and (max-device-width: 480px) {
	html {	
	background: linear-gradient(180deg, #21254A 40.29%, #313077 100%);
	}
	#wrapper {
		height: 100%;
		width: 100%;
	}
	#iphone11 {
		background: none;
		height: 100%;
		width: 100%;
	}
	#content {
		height: 100%;
		width: 100%;
		margin-top: 0;
	}
	.logo {
		padding-top: 35px;
	}
	#header {
		height: 10%;
	}
	#space1 {
		width: 90%;
		height: 25%;
		margin: 0 auto;
	}
	#forms {
		height: 62.5%;
		width: 90%;
	}
	#space2{
		height: 40%;
	}
	#vhodbut {
		height: 11%;
		width: 90%;
	}
	input[type="password"] {
		height: 12%;
		font-size: 12pt;
		width: 80%;
		
	}
}