@media screen and (max-device-width: 480px) {
	html {
	background: linear-gradient(180deg, #21254A -33.06%, #323078 103.65%););
	}
	#wrapper {
		height: 100%;
		width: 100%;
	}
	#iphone11 {
		background: none;
		height: 100%;
		width: 100%;
	}
	#content {
		height: 100%;
		width: 100%;
		margin-top: 0;
	}
	#space2 {
		height: 2%;
	}
	#panels {
		height: 45%;
	}
	#wait_download {
	width: 100%;
	height: 47%;
}
	#delete_post {
	width: 100%;
	height: 47%;
}
	#download, #delete, #post, #wait {
		width: 48%;
		line-height: 110px;
	}
	#content_tasks {
		height: 110%;
	}
	#header {
		padding-top: 30px;
	}
	.date {
		margin-left: 50px;
	}
	#task_1 {
		height: 12%;
		border: 0;
	}
	#icons {
		height: 15%;
	}
	#section_1 {
		height: 85%;
	}
	#purhase_id {
		width: 40%;
	}
	#club_name {
		width: 30%;
	}
	#price {
		width: 20%;
	}
	#purhase_1 {
		height: 7.5%;
		margin-top: 15px;
	}
	#purhase_id {
	width: 32%;
	height: 100%;
	background: #EDEDED;
	float: left;
	line-height: 30px;
	text-align: center;
}
.purhase_id {
	vertical-align: middle;
	font-size: 10px;
	line-height: 12px;
	font-style: normal;
	font-weight: normal;
}
#club_name {
	width: 30%;
	height: 100%;
	text-align: left;
	float: left;
}
#margin_space {
	height: 100%;
	width: 7%;
	float: left;
}
.club_name {
	color: #21254A;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 0.04em;
	float: left;
}
.purhase_article {
	color: #6A6D86;
	font-size: 10px;
	letter-spacing: 0.04em;
	float: left;

}
#price {
	width: 28%;
	float: left;
	height: 100%;
	text-align: right;
}
.price {
	color: #21254A;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 0.04em;
	float: right;
}
.date {
	color: #6A6D86;
	letter-spacing: 0.04em;
	font-size: 10px;
	float: right;
}
}

@media screen and (max-device-width: 320px) {
	#section_content {
		padding-top: 10px;
	}
}